@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rajdhani:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/*Common Tailwind CSS Start Here*/

.Container {
  @apply w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px] px-2 md:px-3 lg:px-4 xl:px-5 mx-auto;
}

.header-btn {
  @apply inline-block overflow-hidden border border-PrimaryColor-0 bg-PrimaryColor-0 transition-all z-10 hover:text-white duration-500 px-[30px] py-[12px] relative rounded text-base text-white font-Nunito before:bg-SecondaryColor-0 before:h-full before:w-0 before:absolute before:top-0 before:right-0 before:-z-10 before:transition-all before:duration-500 hover:before:w-full hover:before:left-0;
}

.primary-btn {
  @apply flex items-center gap-2 overflow-hidden border border-PrimaryColor-0 bg-PrimaryColor-0 transition-all z-10 hover:text-white duration-500 px-[26px] py-[14px] relative rounded text-base text-white font-medium font-Nunito before:bg-SecondaryColor-0 before:h-full before:w-0 before:absolute before:top-0 before:right-0 before:-z-10 before:transition-all before:duration-500 hover:before:w-full hover:before:left-0;
}

.primary-btn2 {
  @apply flex items-center gap-2 overflow-hidden border border-PrimaryColor-0 bg-PrimaryColor-0 transition-all z-10 hover:text-white duration-500 px-10 py-[17px] relative rounded text-base text-white font-medium font-Nunito before:bg-SecondaryColor-0 before:h-full before:w-0 before:absolute before:top-0 before:right-0 before:-z-10 before:transition-all before:duration-500 hover:before:w-full hover:before:left-0;
}

.primary-btn3 {
  @apply flex items-center gap-2 overflow-hidden border border-PrimaryColor-0 bg-PrimaryColor-0 transition-all z-10 hover:text-white duration-500 px-9 py-[16px] relative rounded text-base text-white font-medium font-Nunito before:bg-SecondaryColor-0 before:h-full before:w-0 before:absolute before:top-0 before:right-0 before:-z-10 before:transition-all before:duration-500 hover:before:w-full hover:before:left-0;
}

.primary-btn4 {
  @apply flex items-center gap-2 overflow-hidden border uppercase border-PrimaryColor-0 bg-PrimaryColor-0 transition-all z-10 hover:text-white duration-500 px-9 py-[15px] relative rounded-full text-base text-white font-medium font-Nunito before:bg-SecondaryColor-0 before:h-full before:w-0 before:absolute before:top-0 before:right-0 before:-z-10 before:transition-all before:duration-500 hover:before:w-full hover:before:left-0;
}

.primary-btn5 {
  @apply flex items-center gap-2 overflow-hidden border uppercase border-PrimaryColor-0 bg-PrimaryColor-0 transition-all z-10 hover:text-white duration-500 px-9 py-[13px] relative rounded-full text-lg text-white font-semibold font-Rajdhani before:bg-SecondaryColor-0 before:h-full before:w-0 before:absolute before:top-0 before:right-0 before:-z-10 before:transition-all before:duration-500 hover:before:w-full hover:before:left-0;
}

.primary-btn6 {
  @apply flex items-center gap-2 overflow-hidden capitalize bg-[linear-gradient(90deg,_rgba(12,89,219,1)_41%,_rgba(46,34,206,1)_88%)] transition-all z-10 hover:text-white duration-500 px-10 py-[14px] relative rounded-full text-white font-medium font-Nunito before:bg-[linear-gradient(-90deg,_rgba(12,89,219,1)_41%,_rgba(46,34,206,1)_88%)] before:h-full before:w-0 before:absolute before:top-0 before:right-0 before:-z-10 before:transition-all before:duration-500 hover:before:w-full hover:before:left-0;
}

.is-sticky {
  @apply fixed top-0 left-0 w-full z-[99999] shadow-lg bg-white backdrop-blur-md animate-headerSlideDown;
}

.navbar2.is-sticky {
  @apply fixed top-0 left-0 w-full z-[99999] shadow-lg bg-SecondaryColor-0 backdrop-blur-md animate-headerSlideDown;
}

@media (min-width: 320px) and (max-width: 991px) {
  .is-sticky {
    @apply relative top-0 left-0 w-full z-[99999] shadow-lg bg-white backdrop-blur-md animate-headerSlideDown;
  }

  .navbar2.is-sticky {
    @apply relative top-0 left-0 w-full z-[99999] shadow-lg bg-SecondaryColor-0 backdrop-blur-md animate-headerSlideDown;
  }
}

/* Progress Bar */

.progress-bar-rect-wrap-container {
  position: relative;
  z-index: 999;
  display: flex;
  gap: 50px;
}

.rect-progress-bar-percent {
  @apply !m-0 leading-[10px] !text-HeadingColor-0 font-Rajdhani;
}


.why-choose .progress-bar-rect-wrap-container {
  position: relative;
  z-index: 999;
}

.why-choose .rect-progress-bar-percent {
  @apply !m-0 leading-[10px] !text-TextColor2-0 font-medium font-Nunito absolute -top-6 right-0;
}

/* React Tab */

.react-tabs__tab--selected::before {
  width: 20px !important;
}

/* Project */

.swiper-slide:hover .project-thumb-title,
.swiper-slide.swiper-slide-active .project-thumb-title {
  left: 25px;
  opacity: 1;
}

/* Project */

.swiper-slide:hover .project-content,
.swiper-slide.swiper-slide-active .project-content {
  bottom: 0px;
}

.swiper-slide:hover .project-content3,
.swiper-slide.swiper-slide-active .project-content3 {
  bottom: 0;
}

/* Pagination */

.swiper-pagination {
  bottom: inherit !important;
  top: 50% !important;
  left: 94% !important;
  transform: translatex(-50%) !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  gap: 16px !important;
  flex-direction: column !important;
}

span.swiper-pagination-bullet {
  background: transparent !important;
  opacity: 0.7 !important;
  border: 2px solid #0c59db;
  border-radius: 50%;
  height: 14px !important;
  width: 14px !important;
  position: relative;
}

span.swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  top: -10px;
  left: -10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #0c59db;
  transition: 0.5s;
  transform: scale(0);
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  transform: scale(1);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
  height: 10px !important;
  width: 10px !important;
  background: #0c59db !important;
}

.portfolio .swiper-pagination {
  bottom: 0 !important;
  top: inherit !important;
  left: 50% !important;
  transform: translatex(-50%) !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
  flex-direction: row !important;
}

.portfolio .swiper-pagination-bullet {
  background: transparent !important;
  opacity: 1 !important;
  background: #35435d !important;
  border: none !important;
  border-radius: 50%;
  height: 10px !important;
  width: 10px !important;
  position: relative;
}

.portfolio .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
  height: 12px !important;
  width: 12px !important;
  background: #0c59db !important;
}

.portfolio span.swiper-pagination-bullet::before {
  scale: 0;
}

.testimonial5 .swiper-pagination {
  bottom: 0 !important;
  top: inherit !important;
  left: 50% !important;
  transform: translatex(-50%) !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
  flex-direction: row !important;
}

.testimonial5 .swiper-pagination-bullet {
  background: transparent !important;
  opacity: 1 !important;
  background: #dae7f8 !important;
  border: none !important;
  border-radius: 50%;
  height: 10px !important;
  width: 10px !important;
  position: relative;
}

.testimonial5 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
  height: 12px !important;
  width: 12px !important;
  background: #0c59db !important;
}

.testimonial5 span.swiper-pagination-bullet::before {
  scale: 0;
}

/* Testimonial */

.testimonial .swiper-pagination {
  top: 5px !important;
  bottom: inherit !important;
  left: 50% !important;
  flex-direction: row !important;
  justify-content: center;
}

.testimonial span.swiper-pagination-bullet {
  width: 92px !important;
  height: 92px !important;
  border-radius: 50% !important;
  opacity: 1 !important;
  border: none !important;
}

.testimonial span.swiper-pagination-bullet:nth-of-type(1) {
  background: url(../public/images/testi-5.png) no-repeat center/cover !important;
}

.testimonial span.swiper-pagination-bullet:nth-of-type(2) {
  background: url(../public/images/testi-2.png) no-repeat center/cover !important;
}

.testimonial span.swiper-pagination-bullet:nth-of-type(3) {
  background: url(../public/images/testi-3.png) no-repeat center/cover !important;
}

.testimonial span.swiper-pagination-bullet:nth-of-type(4) {
  background: url(../public/images/testi-4.png) no-repeat center/cover !important;
}

.testimonial span.swiper-pagination-bullet:nth-of-type(5) {
  background: url(../public/images/testi-1.png) no-repeat center/cover !important;
}

.testimonial span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 110px !important;
  width: 110px !important;
  transform: scale(1.1) !important;
  border: 5px solid #fff !important;
}

.testimonial
  span.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  transform: scale(0);
}

@media (min-width: 320px) and (max-width: 767px) {
  .testimonial .swiper-pagination {
    gap: 5px !important;
  }

  .testimonial span.swiper-pagination-bullet {
    width: 38px !important;
    height: 38px !important;
  }

  .testimonial span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 45px !important;
    height: 45px !important;
    transform: scale(1.1) !important;
    border: 2px solid #fff !important;
  }
}

.project .swiper-pagination {
  bottom: 0 !important;
  top: inherit !important;
  left: 50% !important;
  transform: translatex(-50%) !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
  flex-direction: row !important;
}

.project .swiper-pagination-bullet {
  background: transparent !important;
  opacity: 1 !important;
  background: #cddff7 !important;
  border: none !important;
  border-radius: 50%;
  height: 10px !important;
  width: 10px !important;
  position: relative;
}

.project .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
  height: 12px !important;
  width: 12px !important;
  background: #0c59db !important;
}

.project span.swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  transform: scale(0);
}

/* Faq */

.faq-button[aria-expanded="true"],
.faq-button:hover {
  border-radius: 5px;
  background: #0c59db;
  border-color: transparent;
  padding: 0 20px 0 30px;
}

.faq-button3[aria-expanded="true"],
.faq-button3:hover {
  background: #0b59db;
  border-radius: 6px 6px 0 0;
}

.faq-button3:hover img,
.faq-button3[aria-expanded="true"] img {
  filter: brightness(0) invert(1);
}

.faq-button2[aria-expanded="true"] {
  background: #0b59db;
  border-radius: 6px 6px 0 0;
}

.faq-button2:hover img,
.faq-button2[aria-expanded="true"] img {
  filter: brightness(0) invert(1);
}

/* Pricing */

.pricing-box.active::before,
.pricing-box:hover::before {
  left: 0;
  width: 100%;
}

.pricing-box.active .pricing-quality,
.pricing-box:hover .pricing-quality {
  background: #fff;
  color: #0c59db;
}

.pricing-box.active .pricing-icon,
.pricing-box:hover .pricing-icon {
  color: #0c59db !important;
}

.pricing-box.active .pricing-icon::before,
.pricing-box:hover .pricing-icon::before {
  transform: scale(1);
}

.pricing-box.active .pricing-limit,
.pricing-box.active .pricing-price,
.pricing-box.active .pricing-title,
.pricing-box.active .pricing-desc,
.pricing-box:hover .pricing-limit,
.pricing-box:hover .pricing-price,
.pricing-box:hover .pricing-title,
.pricing-box:hover .pricing-desc {
  color: #fff;
}

.pricing-box.active .pricing-btn,
.pricing-box:hover .pricing-btn {
  color: white;
  border-color: white;
}

/* Pricing */

.choose-box.active::before,
.choose-box:hover::before {
  left: 0;
  width: 100%;
}

.choose-box.active .choose-icon,
.choose-box:hover .choose-icon {
  color: #0c59db !important;
}

.choose-box.active .choose-price,
.choose-box.active .choose-title,
.choose-box.active .choose-desc,
.choose-box.active .choose-list,
.choose-box:hover .choose-price,
.choose-box:hover .choose-title,
.choose-box:hover .choose-desc,
.choose-box:hover .choose-list {
  color: #fff;
}

.choose-box.active .choose-btn,
.choose-box:hover .choose-btn {
  color: white;
  background: #0c59db;
}

/* Benefits */

.benefits .rect-progress-bar-percent {
  color: #fff !important;
  font-weight: 400;
}

/* Stroke */

.portfolio-icon {
  -webkit-text-stroke: 1px #dadddf;
}

/* Portfolio */

.portfolio .swiper-slide.swiper-slide-active .portfolio-content {
  border-start-end-radius: 0;
}

.portfolio .swiper-slide.swiper-slide-active .portfolio-img::before {
  height: 100%;
  opacity: 0.2;
}

.portfolio .portfolio-box:hover .portfolio-icon,
.portfolio .swiper-slide.swiper-slide-active .portfolio-icon {
  -webkit-text-stroke: 1px #0c59db;
}

.portfolio .swiper-slide.swiper-slide-active .portfolio-title {
  color: #0c59db;
}

.portfolio .swiper-slide.swiper-slide-active .portfolio-btn {
  top: -50px;
  opacity: 1;
}

.portfolio2 .swiper-slide.swiper-slide-active .portfolio-box-content {
  bottom: 20px;
}

.portfolio2 .swiper-slide.swiper-slide-active .portfolio-box-thumb::before {
  left: 0;
  width: 100%;
  opacity: 0.6;
}

/* Project */

.project .swiper-slide.swiper-slide-active .project-btn {
  right: -25px;
  opacity: 1;
}

/* Team Member */

.team-member-box:nth-child(2n + 2) {
  margin-top: 50px;
}

/* Team Member */

.feature-box:nth-child(2n + 2) {
  margin-top: 30px;
}
